---
import GamesHero from '../../sections/GamesHero.svelte';
import BasicLayout from '../../layouts/BasicLayout.astro';
import { GamesSlider2 } from '../../components/GamesSlider2';
import SectCommon from '../../sections/SectCommon.astro';
import SEO from '../../layouts/SEO.astro';
import { bestGames } from '../../store/games';
import { GamesCatalog } from '../../components/GamesCatalog';
import { GamesDetailsSlider } from '../../components/GamesDetailsSlider';
---

<BasicLayout>
  <SEO
    slot="seo"
    title="Игры"
    description="Игры разработанные нашими друзьями и партнёрами."
    imageUrls={{ fb: '' }}
  />

  <GamesHero client:load />

  {
    !!bestGames.length && (
      <SectCommon title="Лучшие игры">
        <div class="best-games-desktop">
          <GamesSlider2 games={bestGames} client:load />
        </div>
        <div class="best-games-mobile">
          <GamesDetailsSlider games={bestGames} client:load />
        </div>
      </SectCommon>
    )
  }

  <SectCommon title="Наши игры" id="games-catalog">
    <GamesCatalog client:load />
  </SectCommon>
</BasicLayout>

<style lang="scss">
  .best-games-desktop {
    display: none;

    @media (min-width: 1290px) {
      display: contents;
    }
  }
  .best-games-mobile {
    @media (min-width: 1290px) {
      display: none;
    }
  }
</style>
