:root {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  font-size: 16px;
  line-height: 1.125;

  background: rgb(var(--c-bg));
  color: rgb(var(--c-text));
}

main {
  flex: 1 1 auto;
  position: relative;
  z-index: 0;
  @media (min-width: 1024px) {
    min-height: calc(100svh - var(--header-height));
  }
}

.container {
  max-width: calc(var(--container-width) + (var(--container-offset) * 2));
  width: 100%;
  padding-inline: var(--container-offset);
  margin-inline: auto;
}
