---
import { getCollection } from 'astro:content';
import BasicLayout from '../../layouts/BasicLayout.astro';
import LinkToDetailPage from '../../components/ui/LinkToDetailPage.svelte';
import ServicesForm from '../../components/forms/ServicesForm/index.svelte';
import { PublishingForm } from '../../components/forms/PublishingForm';
import SEO from '../../layouts/SEO.astro';

export async function getStaticPaths() {
  const servicesArticles = await getCollection('articles');

  return servicesArticles.map((article) => ({
    params: { servicesCategory: article.data.category },
    props: { article },
  }));
}

const { article } = Astro.props;
const {
  data: { title, description },
} = article;
const { servicesCategory } = Astro.params;
---

<BasicLayout sectBloggerForm={false}>
  <SEO
    slot="seo"
    {title}
    description={description || ''}
    imageUrls={{ fb: '' }}
  />
  <div class="root">
    <div class="container">
      <LinkToDetailPage client:load toBack text="Назад" />
      {servicesCategory === 'development' && <ServicesForm client:load />}
      {servicesCategory === 'publishing' && <PublishingForm client:load />}
    </div>
  </div>
</BasicLayout>

<style lang="scss">
  .root {
    padding-top: 50px;

    :global(form) {
      margin-top: 50px;
    }
  }
</style>
