fieldset {
  all: unset;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  display: flex;
  gap: 10px;

  @media (max-width: 767.98px) {
    flex-direction: column;
  }
}

.catalog {
  --col: 1;
  position: relative;
  z-index: 0;
  // min-height: 345px;
  padding-block: 30px 20px;
  display: grid;
  grid-template-columns: repeat(var(--col), 1fr);
  gap: 20px;

  transition: var(--trans-default);
  transition-property: height;

  @media (min-width: 640px) {
    --col: 2;
  }
  @media (min-width: 768px) {
    --col: 3;
  }
  @media (min-width: 1024px) {
    --col: 4;
    gap: 30px;
  }

  .placeholder {
    grid-column: 1 / -1;
    text-align: center;
    font-size: 4rem;
    line-height: 3;
    text-transform: uppercase;
    font-weight: 900;
  }
}

.nav-panel {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: rgb(var(--c-card));
}

// Элемент навигационного контейнера.
.nav-panel :global(.pagination-nav) {
  flex: 1 0 auto;
  display: flex;
  gap: 10px;
  @media (max-width: 767.98px) {
    justify-content: center;
  }
}

// Все опции навигации (включая многоточие, кнопки next и prev).
.nav-panel :global(.option) {
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: var(--trans-default);
  transition-property: background-color, border-radius;

  &:not(.active, .disabled) {
    cursor: pointer;
  }
  &:is(.ellipsis, .active) {
    cursor: default;
  }
}

// Опция многоточия.
// .nav-panel :global(.option.ellipsis) {
// }

// Номер текущей активной страницы.
.nav-panel :global(.option.active) {
  font-weight: 900;
  background-color: rgb(var(--c-white), 30%);
  border-radius: 5px;
  color: rgb(var(--c-card));
}

// Только номера страниц.
.nav-panel :global(.option.number) {
  &:not(.active):hover {
    background-color: rgb(var(--c-white), 10%);
    border-radius: 0.5em;
  }
}

// Предыдущая опция.
// .nav-panel :global(.option.prev) {
// }

// Следующий вариант.
// .nav-panel :global(.option.next) {
// }

// Настраивает параметры prev и next, когда они отключены (когда вы находитесь на первой или последней странице).
.nav-panel :global(.option.disabled) {
  color: rgb(var(--c-white), 30%);
  pointer-events: none;
}

.display-now {
  color: rgb(var(--c-white), 30%);
  font-weight: 300;
  @media (max-width: 767.98px) {
    display: none;
  }
}

.page-size {
  display: flex;
  gap: 10px;
  align-items: center;
  @media (max-width: 767.98px) {
    display: none;
  }
}

.select-icon-btn {
  height: 1.5em;
  width: 1.5em;

  :global(svg) {
    height: 100%;
    width: 100%;
  }
}

.genre-filter-desktop,
.marketplace-filter-desktop {
  display: none;
  @media (min-width: 768px) {
    display: contents;
  }
}

.genre-filter-mobile {
  @media (min-width: 768px) {
    display: none;
  }
}

.marketplace-filter-mobile {
  @media (min-width: 768px) {
    display: none;
  }
  display: flex;
  position: relative;

  & button {
    flex: 1 1 auto;
    min-height: 40px;
    padding: 0;
    padding-bottom: 13px;
    cursor: default;

    display: flex;
    justify-content: center;

    font-size: 12px;
    font-weight: 700;
    color: rgb(var(--c-text), 30%);

    background-color: transparent;
    border: 0;
    border-bottom: 4px solid rgb(var(--c-text), 30%);

    transition: var(--trans-default);
    transition-property: color, font-size;

    &.active {
      font-size: 20px;
      font-weight: 600;
      color: rgb(var(--c-accent));

      border-color: rgb(var(--c-accent));
    }
  }
}
