---
import SectHero from '../sections/LandingHero.astro';
import SectCarrier from '../sections/SectCarrier.astro';
import BasicLayout from '../layouts/BasicLayout.astro';
import GamesSlider from '../components/GamesSlider.svelte';
import { ServicesTabs } from '../components/ServicesTabs';
import { PublishingTabs } from '../components/PublishingTabsInf';
import SEO from '../layouts/SEO.astro';
import { navLinks } from '../store/nav-links';
import { bestGames } from '../store/games';
import { PublishingModal } from '../components/modals/PublishingModal';
import { DevServModal } from '../components/modals/DevServModal';
import LinkToDetailPage from '../components/ui/LinkToDetailPage.svelte';
import { OnDetailServices } from '../components/detail-links/OnDetailServices';

const toDetailDevelopment = navLinks.find(
  ({ slug }) => slug === 'development'
)?.href;
const toDetailPublishing = navLinks.find(
  ({ slug }) => slug === 'publishing'
)?.href;
---

<BasicLayout>
  <SEO slot="seo" title="Главная" description={''} imageUrls={{ fb: '' }} />
  <SectHero wInteractive />

  <section class="our-games">
    <div class="container">
      <h2 class="sect-title">
        Наши игры
        <LinkToDetailPage to="/games" client:visible />
      </h2>
      <GamesSlider client:load games={bestGames} />
    </div>
  </section>

  <section class="services">
    <div class="container">
      <h2 class="sect-title">
        Услуги
        <OnDetailServices client:load />
      </h2>
      <ServicesTabs client:visible />
    </div>
  </section>

  <section class="publishing">
    <div class="container">
      <h2 class="sect-title">
        Издательство
        <LinkToDetailPage to={toDetailPublishing} client:visible />
      </h2>
      <PublishingTabs client:visible />
    </div>
  </section>

  <SectCarrier linkToDetail="/career" />

  <PublishingModal client:load />
  <DevServModal client:load />
</BasicLayout>

<style lang="scss">
  section {
    overflow: clip;
  }

  .container {
    position: relative;
  }

  h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
</style>
