.root {
  margin: -30px;
  margin-bottom: 0;
  background-color: rgb(var(--c-white), 10%);

  transition: var(--load-fade);
  transition-property: opacity;

  &.load {
    opacity: 0;
  }
}

.slide-wrap {
  width: 100%;
  height: 100%;
  box-shadow: var(--box-shadow-active);
  border: thin solid #555660;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.slide {
  width: 100%;
  padding: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(var(--c-bg));

  img {
    aspect-ratio: 16 / 9;

    object-fit: contain;
    width: 100%;
    height: 100%;
    background-color: rgb(var(--c-bg), 0.5);

    backdrop-filter: blur(13px);
  }
}
@media (max-width: 1023.98px) {
  .root {
    display: none;
  }
}
