.body {
  display: grid;
  grid-template-columns: 225px 635px;
  grid-template-rows: auto auto 1fr auto;
  column-gap: 30px;
  row-gap: 20px;

  img {
    grid-row: span 4;
  }

  h2 {
    font-size: 20px;
    text-transform: uppercase;
  }

  .profession {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .about {
    margin-bottom: 20px;
  }
}
.share {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 10px;
  font-size: 10px;
  color: rgb(var(--c-text), 30%);
  a {
    transition: var(--trans-default);
    transition-property: color;
    &:hover {
      color: rgb(var(--c-text), 50%);
    }
  }
}
.socials-icons {
  display: flex;
  gap: 5px;
}
