---
import HtmlBase from './HtmlBase.astro';
import SectSocialSlider from '../sections/SectSocialSlider.astro';
import SectBloggerForm from '../sections/SectBloggerForm.astro';
---

<HtmlBase>
  <slot name="seo" slot="seo" />
  <main>
    <slot />

    <SectSocialSlider />

    <SectBloggerForm title="Сми или блогер" />
  </main>
  <slot name="after-main" />
</HtmlBase>

<style lang="scss">
  main {
    --offset: 40px;
    :global(section) {
      overflow: hidden;
      padding-block: var(--offset);
    }
    :global(section):first-of-type {
      padding-top: calc(var(--offset) * 2);
      padding-bottom: var(--offset);
    }
    @media (min-width: 1024px) {
      --offset: 50px;
    }
  }
</style>
