---
import type { HTMLAttributes } from "astro/types";
import { type CollectionEntry } from "astro:content";
import GamesDetailAside from "./GamesDetailAside.astro";
import GamesDetailBody from "./GamesDetailBody.svelte";

interface Props extends HTMLAttributes<"section"> {
  game: CollectionEntry<"games">;
}

const { class: className, game, ...props } = Astro.props;

const { title } = game.data;
---

<section class:list={["games-detail", className]} {...props}>
  <div class="container">
    <h1 class="sect-title">{title}</h1>

    <GamesDetailBody {game} client:load />

    <GamesDetailAside {game} />
  </div>
</section>

<style lang="scss">
  .container {
    display: grid;
    grid-template-columns: 1fr 410px;
    column-gap: 30px;
  }

  h1 {
    grid-column: span 2;
  }
</style>
