---
import Icon from '@iconify/svelte';
import BasicLayout from '../../../layouts/BasicLayout.astro';
import { getCrowdfundingPlatformBySlug } from '../../../store/crowdfundingPlatforms';
import { gamesStages } from '../../../store/gameStages';
import PlanetaRuLogo from '../../../components/svg/planeta-ru-logo.svelte';
import CrowdfundingLink from '../../../components/CrowdfundingLink.svelte';
import LinkToDetailPage from '../../../components/ui/LinkToDetailPage.svelte';
import SEO from '../../../layouts/SEO.astro';

export async function getStaticPaths() {
  const paths = gamesStages.map((stage) => ({
    params: {
      slug: stage.title,
    },
    props: { stages: stage.stages },
  }));
  return paths;
}

const { stages } = Astro.props;
---

<BasicLayout>
  <SEO
    slot="seo"
    title={'Поддержи проект'}
    description={'Мы рады новым инвесторам'}
    imageUrls={{ fb: '' }}
  />
  <section>
    <div class="container prose">
      <LinkToDetailPage client:load toBack text="Назад" />
      <h1>Поддержи проект</h1>
      <div class="stage">
        {
          stages.map((stage) => {
            if (!stage.crowdfundingPlatforms) return null;
            return (
              <>
                <h3>{stage.name}</h3>
                <article>
                  {stage.crowdfundingPlatforms.map((platform) => {
                    const p = {
                      ...platform,
                      ...getCrowdfundingPlatformBySlug(platform.slug),
                    };
                    return (
                      <div class="platform">
                        <CrowdfundingLink platform={p} client:load />
                      </div>
                    );
                  })}
                </article>
              </>
            );
          })
        }
      </div>
    </div>
  </section>
</BasicLayout>

<style lang="scss">
  section {
    padding-block: 30px !important;
  }
  h2 {
    text-align: center;
  }
  article {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(195px, 1fr));
  }
  .platform {
    font-size: 20px;
    margin-bottom: 20px;
  }
</style>
